.login-container {
  width: 90%;
  max-width: 700px;
  margin: 15rem auto;
}

.login-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.login-form h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ff6f20;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.login-form p {
  text-align: center;
}

a {
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  text-decoration: none;
  color: #000;
}

.login-form input {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 2px solid #ff6f20;
  transition: border 0.1s;
}

.login-form .btn {
  background-color: #ff6f20;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}

.login-form .login-error {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border: 2px solid #e02222;
  color: #e02222;
  outline: none;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .login-container {
    margin: 9rem auto;
  }

  .login-form h2 {
    font-size: 28px;
  }

  .login-form p {
    font-size: 14px;
    text-align: center;
  }

  a {
    font-size: 14px;
  }

  .login-form input {
    font-size: 14px;
    padding: 12px;
  }

  .login-form .login-error {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-container {
    margin: 5rem auto;
  }

  .login-form h2 {
    font-size: 24px;
  }

  .login-form input {
    font-size: 12px;
    padding: 10px;
  }

  .login-form .login-error {
    font-size: 12px;
  }
}
