nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  position: relative;
}

.logo {
  text-transform: uppercase;
  margin-top: 7px;
  color: #ff6f20;
  font-weight: 500;
  position: absolute;
  left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.search-box form {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.search-box input {
  width: 250px;
  margin: 0 0 0 10px;
  padding: 12px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box select {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box .search-btn {
  border: none;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  background: #ff6f20;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  margin: 0 10px;
  padding: 12px 30px;
}

.icon-section {
  position: absolute;
  font-size: 30px;
  display: flex;
  gap: 15px;
  margin-top: 1px;
  right: 10px;
}
.profile-icon,
.log-out {
  padding: 7px 7px 0px 7px;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6f20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-icon:hover,
.log-out:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.15);
}

.clipboard {
  padding: 7px 7px 1px 7px;
  color: #ff6f20;
  font-weight: 900;
}

.search-icon {
  position: absolute;
  top: 0.5rem;
  right: 7.5rem;
  font-size: 30px;
  color: #ff6f20;
  cursor: pointer;
  display: none;
}

@media (max-width: 1280px) {
  .search-box form {
    width: 700px;
    display: flex;
    justify-content: space-around;
  }

  .search-box input {
    width: 200px;
    margin: 0 0 0 5px;
  }

  .search-box select {
    width: 150px;
    margin-left: 5px;
  }

  .search-box .search-btn {
    width: 100px;
    text-align: center;
    margin: 0 5px;
    padding: 12px 20px;
  }

  .icon-section,
  .search-icon {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .search-box {
    display: none;
  }

  .search-box.visible {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .search-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .search-box select,
  .search-box input {
    width: 100%;
    padding: 12px;
    border: 2px solid #a7aaab;
    border-radius: 5px;
    font-size: 14px;
  }

  .search-box .search-btn {
    border: none;
    border-radius: 5px;
    background: #ff6f20;
    font-size: 16px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
  }

  .search-icon {
    display: block;
  }
}
