nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  position: relative;
}

.logo {
  text-transform: uppercase;
  margin-top: 7px;
  color: #ff6f20;
  font-weight: 500;
  position: absolute;
  left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.search-box form {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.search-box input {
  width: 250px;
  margin: 0 0 0 10px;
  padding: 12px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box select {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box .search-btn {
  border: none;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  background: #ff6f20;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  margin: 0 10px;
  padding: 12px 30px;
}

.icon-section {
  position: absolute;
  font-size: 30px;
  display: flex;
  gap: 15px;
  margin-top: 1px;
  right: 10px;
}
.profile-icon,
.log-out {
  padding: 7px 7px 0px 7px;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6f20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-icon:hover,
.log-out:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.15);
}

.clipboard {
  padding: 7px 7px 1px 7px;
  color: #ff6f20;
  font-weight: 900;
}
