.signup-section {
  margin: 10rem auto;
}

.signup-section h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ff6f20;
  margin-bottom: 15px;
}

.signup-section p {
  text-align: center;
  text-transform: capitalize;
}

.signup-section p a {
  color: #ff6f20;
}

.inputs-section {
  width: 900px;
  margin: 3rem 7rem;
  display: flex;
  justify-content: space-between;
}
.right-side,
.left-side {
  width: 400px;
  position: relative;
}

.otp {
  width: 290px !important;
}

.inputs-section input {
  display: block;
  width: 450px;
  padding: 15px;
  font-size: 19px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: 2px solid #858c8e;
}

input:focus {
  border: 2px solid #ff6f20;
}
<<<<<<< HEAD
.otp {
  width: 290px !important;
}

.ghost-otp {
  width: 140px;
  margin: 0 0 10px 320px;
  padding: 15px;
  background: none;
  border: 2px solid #ff6f20;
  border-radius: 5px;
  font-size: 19px;
  color: #ff6f20;
  cursor: pointer;
}

.side-otp-buttons {
  position: absolute;
  bottom: 0;
  width: 0;
}

.otp-timer {
  width: 420px;
  padding: 10px;

  margin: 5.4rem auto;
}

.otp-timer p {
  display: inline;
  margin-right: 80px;
  margin-left: 10px;
}

.otp-timer a {
  padding-left: 0px;
  color: #ff6f20;
  text-decoration: none;
}

.otp-timer button {
  display: block;
  width: 400px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ff6f20;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;

  border: none;
}
