@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/* =================================================================== */
/* ================================ Navbar =========================== */
/* =================================================================== */

nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
}

.logo {
  text-transform: uppercase;
  margin-top: 5px;
  color: #ff6f20;
  font-weight: 500;
}

.logo:hover {
  cursor: pointer;
}

.search-box form {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.search-box input {
  width: 250px;
  margin: 0 0 0 10px;
  padding: 12px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box select {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-box .search-btn {
  border: none;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  background: #ff6f20;
  font-size: 16px;
  text-align: center;
  color: #f3f3f3;
  margin: 0 10px;
  padding: 12px 30px;
}

.profile-icon {
  font-size: 30px;
  margin-top: 7px;
}

/* =================================================================== */
/* ============================= Main Section ======================== */
/* =================================================================== */

.main-section {
  width: 900px;
  margin: 10rem 0 10rem 7rem;
}

.main-section h1 {
  font-size: 59px;
  font-weight: bold;
  color: #ff6f20;
}

.main-section p {
  margin-top: 1rem;
  font-size: 29px;
  color: #818181;
}

/* =================================================================== */
/* ============================= Card Section ======================== */
/* =================================================================== */

.card-section h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: #ff6f20;
}

.card-section h1 {
  text-align: center;
  margin: 30px 0;
  display: flex;
  align-items: center;
  color: #ff6f20;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.card-section h1::before,
.card-section h1::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ff6f20;
  margin: 0 10px;
}

.cards {
  max-width: 1100px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
}

.card {
  width: 300px;
  margin: 30px 0;
}

.card img {
  display: block;
  width: 300px;
  height: 250px;
}

.card-text {
  margin-top: 10px;
  padding: 20px;
  line-height: 1.5;
  background-color: #f1efef;
}

.card .card-text h3 {
  font-size: 16px;
  margin: 10px 0 0 5px;
}

.card .card-text p {
  font-size: 15px;
  margin-left: 5px;

  font-weight: 400;
}

.card .card-text p span {
  color: #ff6f20;
  font-weight: 600;
}

/* =================================================================== */
/* ============================= Signup Section ======================== */
/* =================================================================== */

.signup-section {
  margin: 10rem auto;
}

.signup-section h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ff6f20;
  margin-bottom: 15px;
}

.signup-section p {
  text-align: center;
  text-transform: capitalize;
}

.signup-section p a {
  color: #ff6f20;
}

.inputs-section {
  width: 100%;
  margin: 1.5rem 5.7rem;
  display: flex;
  /* justify-content: space-around; */
}
.right-side,
.left-side {
  width: 400px;
  position: relative;
  margin: 12px 40px;
}

input {
  display: block;
  width: 450px;
  padding: 15px;
  font-size: 19px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: 2px solid #858c8e;
}

input:focus {
  border: 2px solid #ff6f20;
}

.otp {
  width: 290px;
}

.ghost-otp {
  width: 140px;
  margin-left: 320px;
  padding: 15px;
  background: none;
  border: 2px solid #ff6f20;
  font-size: 19px;
  color: #ff6f20;
  cursor: pointer;
}

.side-otp-buttons {
  position: absolute;
  bottom: 0px;

  background-color: aqua;
  width: 0;
}

.otp-timer {
  width: 400px;
  padding: 10px;
  /* background-color: aqua; */
  margin: 5rem auto;
}

.otp-timer p {
  display: inline;
  margin-right: 80px;
  margin-left: 10px;
}

.otp-timer a {
  padding-left: 5px;
  color: #ff6f20;
}

.otp-timer button {
  display: block;
  width: 400px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ff6f20;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;

  border: none;
}

/* =================================================================== */
/* ============================= Login Section ======================== */
/* =================================================================== */

.login-container {
  width: 700px;
  margin: 15rem auto;
}

.login-form {
  width: 600px;
  margin: 0 auto;
}

.login-form h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #ff6f20;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.login-form p {
  text-align: center;
}

a {
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  text-decoration: none;
  color: #000;
}

.login-form input {
  display: block;
  width: 600px;
  padding: 15px;
  border: 2px solid #a7aaab;
  outline: none;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 19px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 2px solid #ff6f20;
  transition: border 0.1s;
}

.login-form .btn {
  background-color: #ff6f20;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.login-form .login-error {
  width: 600px;
  padding: 15px;
  border: 2px solid #e02222;
  color: #e02222;
  outline: none;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 19px;
}

/* ========================================================================== */
/* ============================= Add Package Section ======================== */
/* ========================================================================== */

.adding-package {
  max-width: 1100px;
  margin: 10rem auto;
  text-align: center;
}

.adding-package h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 5rem 0;
  color: #ff6f20;
}

.form {
  padding: 5rem 0;
  box-shadow: 1px 5px 10px 5px #a1a1a18f;
}

.adding-package .form form input,
.adding-package .form form select {
  width: 270px;
  margin: 0 10px;
  padding: 10px;
  font-size: 19px;
  border-radius: 5px;
  border: 2px solid #a7aaab;
  outline: none;
}

.adding-package .form form button {
  padding: 8px;
  font-size: 21px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid #ff6f20;
  background-color: #ff6f20;
  color: #fff;
  outline: none;
}

/* ========================================================================== */
/* ============================= Seller Dashboard Section ======================== */
/* ========================================================================== */

.seller-dashboard {
  margin-top: 5rem;
}

.welcome-text {
  font-size: 48px;
  font-weight: 400;
  color: #ff6f20;
}

.sells-detail {
  display: flex;
  margin: 30px;
}

.box-1 {
  width: 300px;
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.box-1 h3 {
  font-size: 25px;
  font-weight: 300;
  color: #ff6f20;
}

.box-1 p {
  font-size: 45px;
  font-weight: 800;
}

.graph {
  width: 400px;
  height: 200px;
  margin-left: 30px;
}

.whatsapp-info {
  margin: 30px;
  padding: 20px;
  width: 750px;
  background-color: #f9f9f9;
}

.whatsapp-info h2 {
  margin-bottom: 10px;
  font-size: 25px;
}

.whatsapp-info ul {
  list-style-type: none;
  padding: 0;
}

.whatsapp-item p {
  padding: 10px;
  background-color: #ff6e2046;
  margin-bottom: 5px;
  /* border-radius: 5px; */
}

.whatsapp-item p span {
  font-weight: 600;
}

.packages-cards {
  margin: 50px;
}

.packages-cards h2 {
  font-size: 32px;
  font-weight: 400;
  color: #ff6f20;
}

.package-card {
  width: 500px;
  margin: 30px;
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #818181;
}

.package-card .img img {
  background-color: #1f1f1f;
  width: 100px;
  height: 100px;
}

.package-card-text {
  margin: 10px 0 0 20px;
}

.package-card-text p {
  margin-top: 10px;
}

.package-card-text span {
  border: 1px solid #ff6f20;
  color: #ff6f20;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 120px;
  display: inline-block;
}

.add-new-package {
  width: 500px;
  margin-left: 30px;
  padding: 15px;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ff6f20;
  color: #fff;
}

.add-new-package:hover {
  cursor: pointer;
}

/* ========================================================================== */
/* ============================= Product Component ======================== */
/* ========================================================================== */

.component-detail-page {
  margin: 3rem 0;
}

.component-detail-page h1 {
  font-size: 41px;
  font-weight: bold;
  color: #ff6f20;
  margin-bottom: 1rem;
}

.roller {
  margin: 40px 0;
}

.button {
  background: none;
  border: none;
  color: #ff6f20;
}

.roller .component-head {
  width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #818181;
}

.component-head h2 {
  color: #ff6f20;
  font-weight: 400;
}

.component-head ion-icon {
  font-size: 29px;
  cursor: pointer;
}

.component-body {
  margin-left: 30px;
  width: 100%;
  margin: 20px 0 0 50px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s ease;
}

.component-body.open {
  max-height: 500px;
  opacity: 1;
}

.component-input select {
  width: 300px;
  height: 50px;
  font-size: 16px;
  color: #575757;
  padding: 0px 10px;
  margin: 10px 10px;
  border: 2px solid #818181;
  outline: none;
  border-radius: 5px;
}

.component-input input {
  width: 300px;
  height: 50px;
  font-size: 16px;
  padding: 20px 10px;
  margin: 10px 10px;
  border: 2px solid #818181;
  outline: none;
  border-radius: 5px;
}

.component-body .add-component-btn {
  border: none;
  background-color: #ff6f20;
  color: #fff;
  padding: 15px 30px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 90%;
}

.component-body .add-component-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.component-table table {
  margin: 20px 0 0 20px;
  border-collapse: collapse;
}

.component-table table thead {
  background-color: #ff6f20;
  color: #fff;
}

.component-table table thead tr th,
.component-table table tbody tr td {
  padding: 10px 40px;
  border-bottom: 1px solid #818181;
  text-align: center;
}

.component-table table tbody tr:hover {
  background-color: #ff6e2046;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.services h1 {
  font-size: 41px;
  font-weight: bold;
  color: #ff6f20;
  margin-bottom: 1rem;
}

.services ul li {
  width: 500px;
  padding: 15px;
  list-style: none;
  border-bottom: 1px solid #818181;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.services ul li ion-icon {
  color: #045c17;
  font-size: 25px;
}

.services ul li.active {
  opacity: 1;
}

.services .sales-services {
  border: none;
  font-size: 19px;
  outline: none;
}

.services ul li input {
  border: none;
  font-size: 19px;
  appearance: none;
  outline: none;
}

.hidden {
  display: none;
}

.additional-note textarea {
  width: 500px;
  height: 300px;
  border: 2px solid #818181;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 19px;
  padding: 15px;
  margin-top: 10px;
}

.additional-note textarea:focus {
  border: 2px solid #ff6f20;
  transition: all 0.3s ease;
}

.comp-sending-btn {
  width: 400px;
  padding: 15px;
  margin: 20px 0 0 30px;
  font-size: 19px;
  background-color: #ff6f20;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.comp-sending-btn button:hover {
  cursor: pointer;
}

/* image */
.image-uploader {
  margin: 5rem 0;
}

.image-uploader h2 {
  font-size: 45px;
  color: #ff6f20;
  margin: 1rem;
}

.image-uploader .image-uploader-btn {
  border: 2px solid #818181;
  width: 500px;
  margin: 3rem 0 1rem 3rem;
  border-radius: 5px;
  padding: 100px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-uploader .image-uploader-btn:hover {
  background-color: #ff6e2034;
  border: 2px solid #ff6f20;
}

.image-uploader .image-uploader-btn ion-icon {
  font-size: 95px;
  color: #ff6f20;
  text-align: center;
}

.image-uploader .image-uploader-btn label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f20;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.img-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-preview {
  margin-left: 3rem;
}

.preview {
  cursor: pointer;
  margin: 3rem;
  opacity: 0.5;
}

.image-preview.selected {
  opacity: 1;
  border: 2px solid #ff6f20;
}

.image-uploader button {
  margin: 3rem;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #ff6f20;
  border: none;
  outline: none;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

/* ========================================================================== */
/* ============================= Detail Component ======================== */
/* ========================================================================== */

.detail {
  display: flex;
  margin-top: 5rem;
}

.detail-box {
  background-color: #f3f3f3;
  margin: 20px;
  width: 600px;
  height: 600px;
}

.detail-imgs .detail-box img {
  width: 600px;
  height: 600px;
}

.detail .text {
  width: 500px;
  margin: 50px 0 0 70px;
}

.detail .text h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ff6f20;
  letter-spacing: 1px;
}

.price-tag {
  color: #000;
  font-weight: 700;
  line-height: 3;
}

h3 {
  font-size: 14px;
}

.boxes {
  display: flex;
  margin: 20px 0px;
}

.detail .text p {
  font-size: 19px;
  margin-bottom: 10px;
}

.seller-note {
  margin-left: 30px;
  font-size: 17px;
}

.detail p span {
  font-weight: 600;
  color: #ff6f20;
}

.detail .text ul li {
  font-size: 19px;
  line-height: 1.5;
  margin-left: 25px;
}

.detail .service-list {
  margin: 40px;
}

.detail .service-list h3 {
  font-size: 19px;
  padding: 10px 0;
  color: #ff6f20;
}

.detail .service-list ul {
  list-style-type: none;
  line-height: 1.5;
  margin-left: 10px;
}

.service-list p {
  margin: 20px 0;
}

.component-detail h3 {
  font-size: 21px;
  color: #ff6f20;
}

.components-list-detail {
  list-style: none;
  margin-top: 10px;
}

.component-list {
  max-height: 150px; /* Initial half-open height */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.component-list.expanded {
  max-height: none; /* Fully expanded height */
}

.service-list p span {
  font-weight: 600;
  color: #ff6f20;
}

.detail-btn {
  width: 500px;
  padding: 10px;
  margin: 20px 10px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 500;
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.center-text {
  text-align: center;
  margin: 30px 0;
  display: flex;
  align-items: center;
  color: orange;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.center-text::before,
.center-text::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: orange;
  margin: 0 10px;
}

.expand-btn {
  width: 100%;
  background-color: #ff6f20;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
  padding-top: 5px;
  cursor: pointer;
  font-size: 30px;
}

/* ============================================== ====== =========================================== */
/* ============================================== Slider =========================================== */
/* ============================================== ====== =========================================== */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
  /* Smoother scaling transition without hiding the image */
  transition: transform 0.4s ease-in-out;
}

.slider-image-active {
  transform: scale(1.05); /* Slight zoom for smoothness */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
}

.slider-button-prev {
  left: 10px;
}

.slider-button-next {
  right: 10px;
}

/* ========================================================= */
/* ======================= Pop Up ====================== */
/* ========================================================= */

/* PhoneNumberPopup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 80px;
  border-radius: 3px;
  box-shadow: 0 2px 10px #0c0c0c73;
  text-align: center;
  position: relative;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  margin: 20px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content button {
  padding: 10px 15px;
  border: none;
  width: 100%;
  background-color: #ff6f20;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  color: #333;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
